<%- include('./partials/header') %>

    <h1 class="center">Landing Zone</h1>
        <div class="center"><a  class="link" href="/register">Sign Up</a></div>
        <div class="center"><a  href="/login">Login</a></div>

<%- include('./partials/footer') %>