<%- include('./partials/header') %>
<h1 class="center">Login</h1>

<Form class="center" action="/login" method="POST" autocomplete="off">
    <input type="hidden" autocomplete="false">
    <label class="center">
            <% if (messages.error) { %>
            <%= messages.error %>
            <% } %>
    </label>
    <p> 
        <% if(value) { %>
            <% if(value['val'] == "off") { %>
                <input autocomplete="false" value="" type="text" name="username" placeholder="email" >
            <% } else { %>
            <input value="<%= value['email'] %>" type="text" name="username" placeholder="email" >
            <% } %>
        <% } else { %>
            <input autocomplete="false" value="" type="text" name="username" placeholder="email" >
        <% } %>
    </p>
    <p>
        <input autocomplete="new-password" type="password" name="password" placeholder="password">
    </p>
    <p>
        <label for="remember">Remember my login details</label>
        <% if(value) { %>
            <% if(value['val'] == "off") { %>
                <input id="chkbx" type="checkbox" name="remember" aria-required="false">
            <% } else { %>
                <input id="chkbx" type="checkbox" name="remember" checked aria-required="false">
            <% } %>
        <% } else { %>
            <input id="chkbx" type="checkbox" name="remember" aria-required="false">
        <% } %>

    </p>
    <button>Login</button>
    <p><a href="/home">Home</a></p>
</Form>
<%- include('./partials/footer') %>