<p>
    <span class="spacespan"></span>
    <a class="footerA" href="/profile">Profile</a>
    <a class="footerA" href="/friends">Friends</a>
    <a class="footerA" href="/logout">Logout</a>
</p>
</body>
</html>