body {
    background-color: rgb(24, 24, 24);
}
.center {
    text-align: center;
}
input {
    background-color: rgb(34, 34, 34);
    color: rgb(106, 32, 170);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    border-color: black;
    margin-left: 10px;
}

#chkbx {
    transform: scale(2);
    margin-left: 15px;
}

label {
    color: rgb(106, 32, 170);
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    border-color: black;
}

button {
    background-color: rgb(93, 28, 150);;
         border:rgb(81, 26, 129);
         border-style: outset;
         color:  rgb(24, 24, 24);
         padding: 2px 3px;
         text-align: center;
         text-decoration: none;
         display: inline-block;
         font-size: 25px;
         font-weight: bold;
         cursor: pointer;
         font-family: 'Roboto', sans-serif;
}

a {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}

h1 {
    font-family: 'Odibee Sans', cursive;
    font-size: 100px;
    color: rgb(85, 27, 135);
}

.footerA {
    margin-right: 10px;
}

.spacespan {
    margin-left: 3.5%;
}

.info {
    margin-left: 5%;
    font-size: 18px;
}

.fakebtn {
    background-color: rgb(93, 28, 150);;
         border:rgb(81, 26, 129);
         border-style: outset;
         color:  rgb(24, 24, 24);
         padding: 2px 3px;
         text-align: center;
         text-decoration: none;
         display: inline-block;
         font-size: 22px;
         font-weight: bold;
         cursor: pointer;
         font-family: 'Roboto', sans-serif;
}

#fixinput {
    margin-right: 39px;
}

.left {
    margin-left: 2%;
}