body {
    background-color: rgb(24, 24, 24);
}
.center {
    text-align: center;
}
input {
    background-color: rgb(34, 34, 34);
    color: rgb(106, 32, 170);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    border-color: black;
    margin-left: 10px;
}

#chkbx {
    transform: scale(2);
    margin-left: 15px;
}

label {
    color: rgb(106, 32, 170);
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    border-color: black;
}

button {
         background-image: linear-gradient(to bottom right,rgb(100, 22, 168),rgb(62, 17, 99));
         border:rgb(81, 26, 129);
         border-style: outset;
         color:  rgb(24, 24, 24);
         padding: 4px 13px;
         text-align: center;
         text-decoration: none;
         display: inline-block;
         font-size: 25px;
         font-weight: bold;
         cursor: pointer;
         font-family: 'Roboto', sans-serif;
}

a {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: rgb(106, 32, 170);
}

h1 {
    font-family: 'Odibee Sans', cursive;
    font-size: 100px;
    margin-bottom: 20px;
    margin-top: 30px;
    color: rgb(85, 27, 135);
}

.footerA {
    margin-right: 10px;
}

.spacespan {
    margin-left: 3.5%;
}

.info {
    margin-left: 5%;
    font-size: 18px;
}

.fakebtn {
    background-image: linear-gradient(to bottom right,rgb(100, 22, 168),rgb(62, 17, 99));
    border:rgb(81, 26, 129);
    border-style: outset;
    color:  rgb(24, 24, 24);
    padding: 4px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

#fixinput {
    margin-right: 39px;
}

.left {
    margin-left: 2%;
}

.right {
    text-align: right;
}

.friend {
    background-image: linear-gradient(rgb(39, 33, 44),rgb(37, 21, 49));
    color: rgb(106, 32, 170);
    font-size: 25px;
    font-weight: bold;
    padding: 2px 3px;
    width: 50%;
    text-shadow: 20px;
    border-radius: 2%;
    margin-bottom: 5px;
}

table {
    width: 100%;    
}

#section1 {
    width: 65%;
}
#section2 {
    width: 35%;
}

#accepttbl {
    width: 25%;
}

#accept {
    background-image: linear-gradient(rgb(50, 180, 33),rgb(35, 124, 13));
    text-align: right;
}

#reject {
    background-image: linear-gradient(rgb(206, 13, 13),rgb(134, 10, 10));
}

.req {
    display: block;
    color: rgb(120, 27, 201);
    background-image: linear-gradient(rgb(28, 23, 34),rgb(40, 23, 53));
    font-size: 20;
    font-family: 'Roboto', sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 3px;
    width: 90%;
    border-style: ridge;
    border-color: rgb(74, 4, 139);
}

.reqcommon {
    margin-top: 10px;
    border: none;
    font-size: 18px;
    padding: 8px 15px;
    color: whitesmoke;
    border-radius: 5%;
    font-family: 'Roboto', sans-serif;
}